/out
/tests/Testing
/tests/CMakeFiles
/.vscode
/build
/CMakeFiles
/dabal/CMakeFiles
/dabal/doc
CMakeUserPresets.json
android/main/.gradle
android/main/.idea
android/main/app/.cxx
android/main/app/build
Testing/TAG
Testing/20220223-1840/Test.xml
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest_20220223-1840.log
/DartConfiguration.tcl
/CTestTestfile.cmake
cmake_install.cmake
CTestConfig.cmake
.vs/CMake Overview
dabal/cmake_install.cmake
dabal/Makefile
tests/cmake_install.cmake
tests/Makefile
Testing/20220305-1622/Test.xml
Testing/Temporary/LastTest_20220305-1622.log
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
