/out
/tests/Testing
/tests/CMakeFiles
/.vscode
/build
/CMakeFiles
/dabal/CMakeFiles
/dabal/doc
CMakeUserPresets.json
android/main/.gradle
android/main/.idea
android/main/app/.cxx
android/main/app/build
Testing
/DartConfiguration.tcl
/CTestTestfile.cmake
cmake_install.cmake
CTestConfig.cmake
.vs/CMake Overview
dabal/cmake_install.cmake
dabal/Makefile
tests/cmake_install.cmake
tests/Makefile
Testing
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
dabal/include/execution/Continuation_COPY.h
dabal/include/execution/ThreadPoolExecutor_COPY.h
tests/Makefile
Makefile
dabal/cmake_install.cmake
cmake_install.cmake
CMakeCache_COPY.txt
