/out
/tests/Testing
/tests/CMakeFiles
/.vscode
/build
/CMakeFiles
/mel/CMakeFiles
/mel/doc/generated
CMakeUserPresets.json
android/main/.gradle
android/main/.idea
android/main/app/.cxx
android/main/app/build
Testing
/DartConfiguration.tcl
/CTestTestfile.cmake
cmake_install.cmake
CTestConfig.cmake
.vs/CMake Overview
mel/cmake_install.cmake
mel/Makefile
tests/cmake_install.cmake
tests/Makefile
Testing
.vs/slnx.sqlite
.vs/slnx.sqlite-journal

tests/Makefile
Makefile
mel/cmake_install.cmake
cmake_install.cmake
CMakeCache_COPY.txt
mel/html/bc_s.png
mel/html/bdwn.png
mel/html/closed.png
mel/html/doc.png
mel/html/doxygen.css
mel/html/doxygen.svg
mel/html/dynsections.js
mel/html/folderclosed.png
mel/html/folderopen.png
mel/html/graph_legend.dot
mel/html/graph_legend.html
mel/html/index.html
mel/html/jquery.js
mel/html/menu.js
mel/html/menudata.js
mel/html/nav_f.png
mel/html/nav_g.png
mel/html/nav_h.png
mel/html/open.png
mel/html/splitbar.png
mel/html/sync_off.png
mel/html/sync_on.png
mel/html/tab_a.png
mel/html/tab_b.png
mel/html/tab_h.png
mel/html/tab_s.png
mel/html/tabs.css
mel/html/search/close.svg
mel/html/search/mag_sel.svg
mel/html/search/nomatches.html
mel/html/search/search_l.png
mel/html/search/search_m.png
mel/html/search/search_r.png
mel/html/search/search.css
mel/html/search/search.js
mel/html/search/searchdata.js
mel/include/core/Thread - Copy.h
